@model List<Application.ViewModels.Feedback.FeedbackItemViewModel>

    @foreach (var item in Model)
    {
        <div class="col-md-6 col-xl-6 col-lg-6 col-12 col-sm-12 ">
            <div class="row" >
                <div class="col-sm-3">
                @if (item.FilePath == "default.jpg")
                   {
                       <img  src="~/img/default.jpg" alt="" class="rounded-circle img-fluid" />
                   }
                   else
                   {
                    <img onclick="ShowImage('@item.CompanyName','@item.Description','@item.FilePath')" src="~/Feedback/@item.FilePath" alt="" class="rounded-circle img-fluid" />
                   }
                </div>
                <div class="col-sm-9">
                    <h5><span class="text-primary">Company Name:</span>@item.CompanyName</h5>
                    <small style="color: black">@item.Description</small>
                    <small class="smallest mute">- @item.FullName</small>
                </div>
            </div>
        </div>
    }