@model HomeTeamSection

<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row justify-content-center m-45px-b md-m-25px-b">
            <div class="col-md-10 col-lg-12">
                <div class="section-title">
                    <h2 class="theme-after">CREATIVE TEAM</h2>
             
                </div>@Html.Raw(Model.Description)
            </div>
        </div> <!-- row -->
        <div class="row">
         
            @foreach (var item in Model.Team!)
            {
                @if (item.AvatarPath == "default.jpg")
                {
                    <div class="col-md-6 col-lg-3 m-15px-tb">
                       
                            <a asp-controller="Home" asp-action="MemberInformation" asp-route-id="@item.Id">
                                 <div class="info">
                                    <h6 class="theme-bg">@item.FullName</h6>
                                    <span>@item.JobTitle</span>
                                </div>
                            </a>
                        
                    </div> 
                }
                else
                {
                    <div class="col-md-6 col-lg-3 m-15px-tb">
                        <div class="our-team">
                            <a asp-controller="Home" asp-action="MemberInformation" asp-route-id="@item.Id">
                                <div class="img theme-before" style="background-image: url(/Team/@item.AvatarPath);"></div>
                                <div class="info">
                                    <h6 class="theme-bg">@item.FullName</h6>
                                    <span>@item.JobTitle</span>
                                </div>
                            </a>
                        </div>
                    </div> <!-- col -->
                }
            }
         
        </div> <!-- row -->
    </div> <!-- container -->
</section>